{% extends 'base.html' %}

{% block content %}
    <h2>学生缺勤记录</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>學生姓名</th>
                <th>课程名稱</th>
                <th>出席狀態</th>
            </tr>
        </thead>
        <tbody>
            {% for course_seat in course_seats %}
                <tr>
                    <td>{{ course_seat.student }}</td>
                    <td>{{ course_seat.course.course_name }}</td>
                    <td>{% if course_seat.number == 0 %}<span class="badge bg-danger">缺席</span>{% else %}<span class="badge bg-success">出席</span>{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

